@sprite .sliderProductsButton, .sliderProductsOff {
    gwt-image: "sliderProductsBt";
    cursor: pointer;
}

@sprite .sliderProductsButton:hover, .sliderProductsOn {
    gwt-image: "sliderProductsBtRl";
}