
body .home {
    height: 450px;
}

.home h2 {
    font-weight: bold;
}

.home p {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 35px;
}

.home .productsNav {
    height: 80px;
    overflow: hidden;
    position: relative;
}

.home .productsNav div {
    position: relative;
    top: 0;
}

.home .productsNav div.stateTransition {
    -webkit-transition: top .5s ease;
    -moz-transition: top .5s ease;
    -ms-transition: top .5s ease;
    -o-transition: top .5s ease;
    transition: top .5s ease;
}

.home .productsNav div.stateVisible {
    top: 0;
}

.home .productsNav div.stateAbove {
    top: -91px;
}

.home .productsNav div.stateBelow {
    top: 91px;
}

.home #boutonsProducts {
    padding-top: 15px;

    position: relative;
    bottom: 80px;
    left: 750px;
}

.home #boutonsProducts a:first-child {
    margin-top: 0;
}

.home #boutonsProducts a {
    display: block;
    margin-top: 4px;
}

.home .productsNav p {
    color: #50575B;
    font-size: 17px;

    width: 500px;
    height: 20px;
    margin-top: 20px;

    float: left;
}

.home .productsNav a {
    color: #50575B;
    font-size: 13px;
    font-variant: small-caps;

    display: inline-block;
    width: 375px;

    position: relative;
    top: -20px;
    left: 180px;
}

.home .productsNav a:hover {
    color: #3a3a3a;
}

.home .sliderProductsContainer {
    font-family: Verdana, Arial, sans-serif;

    overflow: hidden;
    width: 765px;
    height: 80px;
    margin: 55px auto 0 auto;

    position: relative;
}

.firstParagraph {
    text-align: center;
}

.sliderProductsLast{
    position: relative;
}

@sprite .sliderProductsButton, .sliderProductsOff {
    gwt-image: "sliderProductsBt";
}

@sprite .sliderProductsOn {
    gwt-image: "sliderProductsBtRl";
}
