##* @vtlvariable name="seo" type="java.util.ResourceBundle" *#
#set($title = ${seo.getString("title")})
#set($description = ${seo.getString("description")})
#set($keywords = ${seo.getString("keywords")})
<!doctype html>
<html lang="$locale">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="fragment" content="!">
    <meta name="msvalidate.01" content="4B7DB19A347AA1D8F022063F7AE6A8D4" />
    <meta name="gwt:property" content="locale=$locale">

    <title>Arcbees - Architects of simplicity</title>

    <meta property="description" content="$description">
    <meta property="og:description" content="$description">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image" content="http://www.arcbees.com/img/facebook.png">
    <meta property="og:type" content="website">
    <meta property="keywords" content="$keywords">

    <style type="text/css">
        #__gwt_historyFrame {
            position: absolute;
            width: 0;
            height: 0;
            border: 0;
        }

        noscript > div {
            width: 22em;
            position: absolute;
            left: 50%;
            margin-left: -11em;
            color: red;
            background-color: white;
            border: 1px solid red;
            padding: 4px;
            font-family: sans-serif;
        }
    </style>

    <script async="async" type="text/javascript" src="/arcbees/arcbees.nocache.js"></script>

    <!-- Google Analytics Content Experiment code -->
    <script>function utmx_section(){}function utmx(){}(function(){var
            k='94692664-0',d=document,l=d.location,c=d.cookie;
        if(l.search.indexOf('utm_expid='+k)>0)return;
        function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
                indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
                length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
                '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
                        '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
                '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
                        valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
                '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
    </script><script>utmx('url','A/B');</script>
    <!-- End of Google Analytics Content Experiment code -->
</head>

<body>
<iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1'></iframe>

<noscript>
    <div>
        Your web browser must have JavaScript enabled in order for this application to display correctly.
    </div>
</noscript>
</body>
</html>
