<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="fragment" content="!">
    <meta name="msvalidate.01" content="4B7DB19A347AA1D8F022063F7AE6A8D4" />
    <meta name="gwt:property" content="locale=$locale">

    <title>Arcbees - Architects of simplicity</title>

    <meta property="description" content="Web development and tools creation that help developers optimize process, habits and thinking. GWT, GWTP, Jukito, GAE Studio, GQuery. Quebec, Canada.">
    <meta property="og:description" content="Web development and tools creation that help developers optimize process, habits and thinking. GWT, GWTP, Jukito, GAE Studio, GQuery. Quebec, Canada.">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image" content="http://www.arcbees.com/img/facebook.png">
    <meta property="og:type" content="website">
    <meta property="keywords" content="Arcbees, Web, development, GWT, GWTP, Jukito, GAE, GQuery, GSSS, Chosen, Java, Quebec, Canada">

    <style type="text/css">
        #__gwt_historyFrame {
            position: absolute;
            width: 0;
            height: 0;
            border: 0;
        }

        noscript > div {
            width: 22em;
            position: absolute;
            left: 50%;
            margin-left: -11em;
            color: red;
            background-color: white;
            border: 1px solid red;
            padding: 4px;
            font-family: sans-serif;
        }
    </style>

    <script async="async" type="text/javascript" src="/arcbees/arcbees.nocache.js"></script>
</head>

<body>
<iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1'></iframe>

<noscript>
    <div>
        Your web browser must have JavaScript enabled in order for this application to display correctly.
    </div>
</noscript>
</body>
</html>
