.productsGWTP, .productsGWTP:hover, .productsGWTPOn, .productsJukito, .productsJukito:hover, .productsJukitoOn,
.productsGAE, .productsGAE:hover, .productsGAEOn, .productsBH, .productsBH:hover, .productsBHOn {
    cursor: pointer;
    display: inline-block;
}

@sprite .productsGWTP {
    gwt-image: "productsGWTP";
}

@sprite .productsGWTP:hover {
    gwt-image: "productsGWTPRl";
}

@sprite .productsGWTPOn {
    gwt-image: "productsGWTPOn";
}

@sprite .productsJukito {
    gwt-image: "productsJukito";
}

@sprite .productsJukito:hover {
    gwt-image: "productsJukitoRl";
}

@sprite .productsJukitoOn {
    gwt-image: "productsJukitoOn";
}

@sprite .productsGAE {
    gwt-image: "productsGAE";
}

@sprite .productsGAE:hover {
    gwt-image: "productsGAERl";
}

@sprite .productsGAEOn {
    gwt-image: "productsGAEOn";
}

@sprite .productsBH {
    gwt-image: "productsBH";
}

@sprite .productsBH:hover {
    gwt-image: "productsBHRl";
}

@sprite .productsBHOn {
    gwt-image: "productsBHOn";
}