@sprite .sliderCustomersButtonGauche {
    gwt-image: "sliderCustomersButtonGauche";
    cursor: pointer;
}

@sprite .sliderCustomersButtonGauche:hover {
    gwt-image: "sliderCustomersButtonGaucheRl";
}

@sprite .sliderCustomersButtonDroite {
    gwt-image: "sliderCustomersButtonDroite";
    cursor: pointer;
}

@sprite .sliderCustomersButtonDroite:hover {
    gwt-image: "sliderCustomersButtonDroiteRl";
}