@def GEOMETRIA_REGULAR_EOT resourceUrl("geometriaRegularEot");
@def GEOMETRIA_REGULAR_TTF resourceUrl("geometriaRegularTtf");
@def GEOMETRIA_REGULAR_SVG resourceUrl("geometriaRegularSvg");
@def GEOMETRIA_REGULAR_WOFF resourceUrl("geometriaRegularWoff");

@def GEOMETRIA_LIGHT_EOT resourceUrl("geometriaLightEot");
@def GEOMETRIA_LIGHT_TTF resourceUrl("geometriaLightTtf");
@def GEOMETRIA_LIGHT_SVG resourceUrl("geometriaLightSvg");
@def GEOMETRIA_LIGHT_WOFF resourceUrl("geometriaLightWoff");

@def GEOMETRIA_BOLD_EOT resourceUrl("geometriaBoldEot");
@def GEOMETRIA_BOLD_TTF resourceUrl("geometriaBoldTtf");
@def GEOMETRIA_BOLD_SVG resourceUrl("geometriaBoldSvg");
@def GEOMETRIA_BOLD_WOFF resourceUrl("geometriaBoldWoff");

@font-face {
    font-family: "Geo";
    src: GEOMETRIA_REGULAR_EOT;
    src: GEOMETRIA_REGULAR_WOFF format("woff"), GEOMETRIA_REGULAR_TTF format("truetype"), GEOMETRIA_REGULAR_SVG format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Geo";
    src: GEOMETRIA_LIGHT_EOT;
    src: GEOMETRIA_LIGHT_WOFF format("woff"), GEOMETRIA_LIGHT_TTF format("truetype"), GEOMETRIA_LIGHT_SVG format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Geo";
    src: GEOMETRIA_BOLD_EOT;
    src: GEOMETRIA_BOLD_WOFF format("woff"), GEOMETRIA_BOLD_TTF format("truetype"), GEOMETRIA_BOLD_SVG format("svg");
    font-weight: bold;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body {
    background: #ffe400;
    color: #231f20;
    font-size: 1em;
    font-weight: normal;
    font-family: Geometria, "Geo", Helvetica, Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;

    overflow: auto;
    position: relative;
    z-index: 1;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.main {
    border-top: 2.5em solid #ffffff;
    box-sizing: border-box;
}

.contentWidth {
    max-width: 65.5em;
    margin: auto auto;
    padding: 20px;
    position: relative;
}

.socialContainer {
    display: block;
    height: 30px;
    padding-bottom: 40px;
}

.social {
    float: right;
    padding-right: 35px;
}

.social li {
    background: none;
    display: inline-block;
    margin-left: 4px;
}

.social a {
    display: block;
    width: 31px;
    height: 30px;
    background-repeat: no-repeat;
}

.logoArcBees {
    margin: 0 auto 40px auto;
    width: 85%;
}

h1 {
    font-size: 1.875em;
    line-height: 1.075em;
    font-weight: 300;
    text-transform: uppercase;

    margin-bottom: 25px;
}

span.bold {
    font-weight: bold;
    display: block;
}

p {
    font-size: 1.1em;
    line-height: 1.375em;
    text-align: center;
    width: 22em;
    margin: 0 auto 38px auto;
}

a.bouton {
    background: #ffffff;
    color: #231f20;
    font-size: 1.1em;
    line-height: 45px;

    display: block;
    margin: 0 auto 80px auto;
    width: 240px;
    height: 45px;
}

a.bouton:hover {
    background: #000000;
    color: #ffffff;
}

.logoArcBeesSmall {
    display: block;
    margin: 0 auto 10px auto;
}

.copyright {
    font-size: 0.750em;

    display: inline-block;
    margin: auto auto;
    padding-bottom: 20px;
}

html, body {
    height: 100%;
}

.pageWrap {
    min-height: 100%;
    margin-bottom: -142px;
}

.pageWrap:after {
    content: "";
    display: block;
}

.siteFooter, .pageWrap:after {
    height: 90px;
}

.bottomWhiteSpace {
    border-bottom: 2.5em solid #fff;
}

.left,
.right {
    background: #fff;

    z-index: 10;
    position: fixed;
    top: 0;

    min-height: 100%;
    width: 2.5em;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.overflow {
    height: 100%;
}

body {
    font-size: 81.25%;
}

@media screen and (min-width: 30em) and (min-height: 24em) {
    p {
        font-size: 1.125em;
        width: 26em;
    }

    .logoArcBees {
        margin: 0 auto 80px auto;
    }
}

@media screen and (min-width: 68em) and (min-height: 53em) {
    body {
        font-size: 87.5%;
    }

    .logoArcBees {
        width: 61.75em;
    }

    a.bouton {
        font-size: 1em;
    }

    .social {
        padding-right: 0px;
    }

    .page-wrap {
        margin-bottom: -145px;
    }
}

@media screen and (min-width: 75em) and (min-height: 57em) {
    body {
        font-size: 93.75%;
    }

    .logoArcBees {
        width: 60em;
    }

    .page-wrap {
        margin-bottom: -147px;
    }
}

@media screen and (min-width: 80em) and (min-height: 62em) {
    body {
        font-size: 100%;
    }
}

ul li a {
    gwt-image: "socialSprite";
    background-position: 0 0;
    width: 31px;
    height: 30px;
}

.fb:hover {
    background-position: 0 -80px;
}

.gp {
    background-position: 0 -160px;
}

.gp:hover {
    background-position: 0 -240px;
}

.tw {
    background-position: 0 -320px;
}

.tw:hover {
    background-position: 0 -400px;
}
