    /*------- Color&Font -------*/
    body {
        background-color: #b4c0c8;
    }

    body .mainSectionContainer {
        font-family: Georgia, Times, serif;
    }

    body .headerContainer,
    body .mainSectionContainer,
    body .customersContainer {
        background-color: #ffffff;
    }

    body .customersContainer {
        font-family: Verdana, Arial, sans-serif;
    }

    body .footerContainer {
        background-color: #DDA124;
        color: #5A3A25;
        font-family: Verdana, Arial, sans-serif;
    }

    .localeSwitcher, .rightLinkBox p {
        color: #9F9F9F;
        font-size: 12px;
    }

    .localeSwitcher:HOVER {
        color: #5f5f5f;
    }

    h2, h3, h4 {
        color: #5B676F;
        font-family: Ubuntu;
    }

    li, .mainSectionContainer p {
        color: #50575b;
    }

    li span {
        color: #2d3337;
    }

    body .pHead {
        color: #8b9296;
        font-family: Verdana, Arial, sans-serif;
    }

    body .pHead span {
        color: #6a7074;
    }

    .footerContainer a {
        color: #fcf6ed;
    }

    .footerContainer a:HOVER {

        background-color: #ce8a16;
    }

        /*------- Color&FontEnd -------*/

        /*------- MainSection -------*/
    body .mainSectionContainer {
        width: 796px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 50px;
    }

    .mainSectionContainer a {
        color: #939698
    }

    .mainSectionContainer a:hover {
        color: #6e6e6e
    }

    h2 {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 18px;
        line-height: 26px;
    }

    h3 {
        font-size: 19px;
        margin-top: 16px;
        margin-bottom: 14px;
        line-height: 20px;
    }

    h4 {
        font-size: 14px;
        margin-top: 16px;
        margin-bottom: 12px;
        line-height: 14px;
        font-weight: 700;
    }

    .mainSectionContainer p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    @sprite li {
        font-size: 13px;
        line-height: 16px;
        margin-left: 25px;
        padding-left: 15px;
        margin-bottom: 7px;
        width: auto;
        height: auto;
        gwt-image: "listIcon";
        background-position: 0px 5px;
    }

    ul {
        margin-bottom: 20px;
    }

    body .pHead {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 35px;
    }

        /*------- MainSectionEnd -------*/

        /*------- Utility -------*/
    .imgLeft {
        float: left;
        margin-right: 10px;
    }

    .imgRight {
        float: right;
        margin-left: 10px;
    }

    .imgCenter {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .cornerTop {
        border-radius: 10px 10px 0px 0px;
        -moz-border-radius: 10px 10px 0px 0px;
        -webkit-border-radius: 10px 10px 0px 0px;
        overflow: hidden;
    }

    .cornerBottom {
        border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;
        -webkit-border-radius: 0px 0px 10px 10px;
        overflow: hidden;
    }

    .cornerTopBottom {
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        overflow: hidden;
    }

    .uxTextOn {
        display: block;
    }

    .uxTextOff {
        display: none;
    }

    .uxTextOnBack {
        display: block;
        bottom: 126px;
    }

        /*------- UtilityEnd -------*/

        /*------- Sprite -------*/
    @sprite .navBarBgSprite {
        gwt-image: "navBarBg";
    }

    @sprite .mainDegradeBgSprite {
        gwt-image: "mainDegradeBg";
    }

    @sprite .bulleBgHeader {
        gwt-image: "bulleBgHeader";
    }

    @sprite .bulleBgMain {
        gwt-image: "bulleBgMain";
    }

    @sprite .bulleBgHome {
        gwt-image: "bulleBgHome";
    }

    @sprite .bulleBgSlider {
        gwt-image: "bulleBgSlider";
    }

    @sprite .bulleBgFooter {
        gwt-image: "bulleBgFooter";
    }

    @sprite .uxButton, .uxButtonOff {
        gwt-image: "uxButton";
    }

    @sprite .uxButton:hover, .uxButtonOn, .uxButtonOff:hover {
        gwt-image: "uxButtonRl";
    }

        /*------- SpriteEnd -------*/
