/*------- Color&Font -------*/

body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

html {
    overflow-y: auto;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 30px;
    display: block;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background: #a8b5bd none;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: inset .0625em .0625em 0 0 #8D98A0, inset -.0625em -.0625em 0 0 #C6D3DB;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    border: 1px solid #777;
    -webkit-border-radius: 6px;
}

body {
    background-color: #b4c0c8;
    font-family: Ubuntu;
    font-weight: 300;
}

p {
    word-spacing: 1px;
}

body .headerContainer,
body .mainSectionContainer,
body .customersContainer {
    background-color: #ffffff;
}

body .customersContainer {
}

body .footerContainer {
    background-color: #DDA124;
    color: #5A3A25;
}

.localeSwitcher, .rightLinkBox p {
    color: #9F9F9F;
    font-size: 12px;
}

.localeSwitcher:HOVER {
    color: #5f5f5f;
    cursor: pointer;
}

h2, h3, h4 {
    font-family: Ubuntu;
    font-weight: 400;
}

h2 {
    color: #6b757a;
}

h3, h4 {
    color: #5B676F;
}

li, .mainSectionContainer p {
    color: #50575b;
}

li span {
    color: #2d3337;
}

body .pHead {
    color: #8c9397;
    font-family: Ubuntu;
    font-weight: 400;
}

body .pHead span {
    color: #6a7074;
}

.footerContainer a {
    color: #fcf6ed;
}

.footerContainer a:HOVER {

    background-color: #ce8a16;
}

/*------- Color&FontEnd -------*/

/*------- MainSection -------*/
body .mainSectionContainer {
    width: 756px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 70px;
}

.mainSectionContainer a {
    color: #939698
}

.mainSectionContainer a:hover {
    color: #6e6e6e
}

h2 {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 9px;
    line-height: 26px;
}

h3 {
    font-size: 19px;
    margin-top: 16px;
    margin-bottom: 9px;
    line-height: 20px;
}

h4 {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 12px;
    line-height: 14px;
    font-weight: 700;
}

.mainSectionContainer p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

@sprite li {
    font-size: 13px;
    line-height: 16px;
    margin-left: 25px;
    padding-left: 15px;
    margin-bottom: 7px;
    width: auto;
    height: auto;
    gwt-image: "listIcon";
    background-position: 0px 5px;
}

ul {
    margin-bottom: 20px;
}

body .pHead {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 35px;
}

/*------- MainSectionEnd -------*/

/*------- Utility -------*/
.imgLeft {
    float: left;
    margin-right: 10px;
}

.imgRight {
    float: right;
    margin-left: 10px;
}

.imgCenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cornerTop {
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.cornerBottom {
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

.cornerTopBottom {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;
}

.textOn {
    display: block;
}

.textOff {
    display: none;
}

.textOnBack {
    display: block;
    bottom: 126px;
}

.navbarAnchorOn {
    bottom: 30px;
}

.contactTextItalic {
    font-style: italic;
}

.contactTextNormal {
    font-style: normal;
}

/*------- UtilityEnd -------*/

.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn:hover, .btn:active, .btn[disabled] {
    background-color: #e6e6e6;
}

.btn:active {
    background-color: #cccccc;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btnWarning {
    background-color: #e3b24c;
    background-image: -moz-linear-gradient(top, #e7bd66, #dda124);
    background-image: -ms-linear-gradient(top, #e7bd66, #dda124);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7bd66), to(#dda124));
    background-image: -webkit-linear-gradient(top, #e7bd66, #dda124);
    background-image: -o-linear-gradient(top, #e7bd66, #dda124);
    background-image: linear-gradient(top, #e7bd66, #dda124);
    background-repeat: repeat-x;
    border-color: #dda124 #dda124 #9c7118;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btnWarning:hover, .btnWarning:active, .btnWarning[disabled] {
    background-color: #dda124;
}

.btnWarning:active {
    background-color: #b2811c;
}

/*------- Sprite -------*/
@sprite .contactUS {
    gwt-image: "contactUS";
    background-position: -10px -70px;
}

@sprite .job {
    gwt-image: "job";
    background-position: bottom;
}

@sprite .navBarBgSprite {
    gwt-image: "navBarBg";
}

@sprite .navBarBgHoverSprite {
    gwt-image: "navBarBgHover";
}

@sprite .mainDegradeBgSprite {
    gwt-image: "mainDegradeBg";
    background-position: 0 -50px;
}

@sprite .bulleBgHeader {
    gwt-image: "bulleBgHeader";
}

@sprite .bulleBgMain {
    gwt-image: "bulleBgMain";
}

@sprite .bulleBgHome {
    gwt-image: "bulleBgHome";
}

@sprite .bulleBgSlider {
    gwt-image: "bulleBgSlider";
}

@sprite .bulleBgFooter {
    gwt-image: "bulleBgFooter";
}

@sprite .uxButton, .uxButtonOff {
    gwt-image: "uxButton";
}

@sprite .uxButton:hover, .uxButtonOn, .uxButtonOff:hover {
    gwt-image: "uxButtonRl";
}

/*------- SpriteEnd -------*/
