@sprite .facebookIcon_small {
    gwt-image: "facebookIcon_small";
}

@sprite .facebookIcon_small:hover {
    gwt-image: "facebookIconRl_small";
}

@sprite .linkedinIcon_small {
    gwt-image: "linkedinIcon_small";
}

@sprite .linkedinIcon_small:hover {
    gwt-image: "linkedinIconRl_small";
}

@sprite .twitterIcon_small {
    gwt-image: "twitterIcon_small";
}

@sprite .twitterIcon_small:hover {
    gwt-image: "twitterIconRl_small";
}

@sprite .wordpressIcon_small {
    gwt-image: "wordpressIcon_small";
}

@sprite .wordpressIcon_small:hover {
    gwt-image: "wordpressIconRl_small";
}

@sprite .picasaIcon_small {
    gwt-image: "picasaIcon_small";
}

@sprite .picasaIcon_small:hover {
    gwt-image: "picasaIconRl_small"
}

@sprite .facebookIcon_large {
    gwt-image: "facebookIcon_large";
}

@sprite .facebookIcon_large:hover {
    gwt-image: "facebookIconRl_large";
}

@sprite .linkedinIcon_large {
    gwt-image: "linkedinIcon_large";
}

@sprite .linkedinIcon_large:hover {
    gwt-image: "linkedinIconRl_large";
}

@sprite .twitterIcon_large {
    gwt-image: "twitterIcon_large";
}

@sprite .twitterIcon_large:hover {
    gwt-image: "twitterIconRl_large";
}

@sprite .wordpressIcon_large {
    gwt-image: "wordpressIcon_large";
}

@sprite .wordpressIcon_large:hover {
    gwt-image: "wordpressIconRl_large";
}

@sprite .picasaIcon_large {
    gwt-image: "picasaIcon_large";
}

@sprite .picasaIcon_large:hover {
    gwt-image: "picasaIconRl_large"
}
